<!DOCTYPE html>
<html>
<head>
    <script src="/js/jquery.min.js"></script> 
      <script src="/bootstrap/js/bootstrap.min.js"></script> 
     <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
      
      <link rel="stylesheet" type="text/css" href="/css/bootstrap337.min.css"/>
      <script type="text/javascript" src="/js/datatables.min.js"></script> 
      <link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>
     <!-- <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script> -->

      <script src="/js/dataTables.fixedColumns.min.js"></script>      


        

      <script src="/javascript/sysdomhome.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/iframe.css"/>
      <script src="/js/collapse.js"></script> 
      <link rel="stylesheet" type="text/css" href="/css/collapse.css"/>
        



      
<meta charset="ISO-8859-1">
<title>ESB</title>
</head>
<body>
 <!-- <div id="header"></div>-->
 <!--
  <div th:insert="header">...</div>
    <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

-->
  


<div class="accordion">
  <div class="accordion-header">SYSTEM</div>
  <div class="accordion-content">
    <div class="card border-success mb-3">
    <div class="float-right"> 

    <div class="card-body">
     <!-- <div class="card-body  align-items-center d-flex justify-content-center">-->
      <h3 class="card-title">SYSTEM</h3>
      <!--
      <div class="iframe-container-long">
          <iframe src="system" allowfullscreen></iframe>
        </div>
      -->
      <!--<iframe src="/systemdomain" frameborder="0" scrolling="auto" width="1200"" height="910"></iframe> -->
      <div class="float-left" style="width:100%"> 

  

   

        <div class="panel panel-default">
        <div class="panel-body">
          

        </div>
        <div class="panel-footer">

             <!--Table-->
                        <table id="tablesystem" class="table table-hover table-striped table-sm table-bordered">
                        <!--Table head-->
                       <thead>
                            <tr>
                                <th>SYSTEM ID</th>
                                <th>SYSTEM NAME</th>
                                 
                          </tr>
                        </thead>
                          <tbody></tbody>
                        <!--Table body-->
                        </table>
                        <!--Table-->
        </div>
        </div>
    
       
          
     


</div>


      
    </div>
  </div>
  </div>
    
  </div>

  <div class="accordion-header">DOMAIN</div>
  <div class="accordion-content">
    <div class="card border-success mb-3">
    <div class="float-right"> 

    <div class="card-body">
     <!-- <div class="card-body  align-items-center d-flex justify-content-center"> -->
      <h3 class="card-title">DOMAIN</h3>
      <!--
      <div class="iframe-container-long">
          <iframe src="domain" allowfullscreen></iframe>
        </div>
     <iframe src="/systemdomain" frameborder="0" scrolling="auto" width="1200"" height="910"></iframe> -->
     <div class="float-left" style="width:100%"> 
   
      
                <div class="panel panel-default">
                <div class="panel-body">

                </div>
                <div class="panel-footer" id="tablediv">

                         <!--Table-->
                        <table id="tabledomain" class="table table-hover table-striped table-sm table-bordered" >
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>DOMAIN ID</th>
                                <th>DOMAIN TYPE</th>
                                <th>DOMAIN NAME</th>
                                 
                          </tr>
                        </thead>
                          <tbody></tbody>
                       
                     
                        <tfoot>
                            <tr>
                                <th>DOMAIN ID</th>
                                <th>DOMAIN TYPE</th>
                                <th>DOMAIN NAME</th>
                          </tr>
                            

                        </tfoot>
                 

                       
                          
                          

                        </table>


                        <!--Table-->
                </div>
                </div>
              </div>
   
      
    </div>
    </div>
  </div>
    
  </div>

  <div class="accordion-header">SYSTEM DOMAIN</div>
  <div class="accordion-content">
     <div class="card border-success mb-3">
    <div class="float-right"> 

    <div class="card-body">
     <!-- <div class="card-body  align-items-center d-flex justify-content-center">-->
      <h3 class="card-title">SYSTEM DOMAIN</h3>
      <!--
      <div class="iframe-container-long">
          <iframe src="systemdomain" allowfullscreen></iframe>
        </div>-->
      <!--<iframe src="/systemdomain" frameborder="0" scrolling="auto" width="1200"" height="910"></iframe> -->
      <div class="float-right" style="width:100%"> 
      

        <div class="panel panel-default">
        <div class="panel-body">
           
       </div>
        <div class="panel-footer">

             <!--Table-->
                        <table id="tablesystemdomain" class="table table-hover table-striped table-sm table-bordered">
                        <!--Table head-->
                       <thead>
                            <tr>
                                <th>SYSTEM DOMAIN ID</th>
                                <th>SYSTEM CODE</th>
                                <th>SYSTEM NAME</th> 
                                <th>DOMAIN ID</th>
                                 
                          </tr>
                        </thead>
                          <tbody></tbody>
                        <!--Table body-->
                        </table>
                        <!--Table-->
        </div>
        </div>
       
      
  </div>
      
    </div>
    </div>
  </div>
  </div>


    <div class="accordion-header">SERVICE</div>
  <div class="accordion-content">
     <div class="card border-success mb-3">
    <div class="float-right"> 

    <div class="card-body">
     <!-- <div class="card-body  align-items-center d-flex justify-content-center">-->
      <h3 class="card-title">SERVICE</h3>
      <!--
      <div class="iframe-container-long">
          <iframe src="systemdomain" allowfullscreen></iframe>
        </div>-->
      <!--<iframe src="/systemdomain" frameborder="0" scrolling="auto" width="1200"" height="910"></iframe> -->
      <div class="float-right" style="width:100%"> 
      

        <div class="panel panel-default">
        <div class="panel-body">
           
       </div>
       <!--
                <div class="panel-footer" id="tablediv">

                       
                        <table id="tableservice" class="table table-hover table-striped table-sm table-bordered"  style="width:50%" >
                       
                        <thead>
                            <tr>
                                <th>SERVICE ID</th>
                                <th>SERVICE CODE</th>
                                <th>SYS DOMAIN ID</th>
                                <th>SERVICE TYPE</th>
                                <th>SERVICE NAME</th>
                                <th>OPERATION</th>
                                <th>VERSION</th>
                                <th>SYNC</th>
                                <th>LOG LEVEL</th>
                                <th>DUPLICATE CHECK</th>
                                <th>GENERIC REPLY</th>
                                <th>TIMEOUT</th>
                                <th>RETRY MAX</th>
                                <th>RETRY INTERVAL</th>
                                <th>PRJ RELEASE CODE</th>
                                <th>EMAIL ALERT GROUP</th>
                                <th>SMS ALERT GROUP</th>
                                <th>EMAIL ALERT FLAG</th>
                                <th>SMS ALERT FLAG</th>
                               
                                

                                
                                 
                          </tr>
                        </thead>
                          <tbody></tbody>
                    

                        </table>


                      
             

                </div>
              -->

                <div class="iframe-container">
                   <iframe src="service" allowfullscreen></iframe>
               </div>
        </div>
       
      
  </div>
      
    </div>
    </div>
  </div>
  </div>

   <div class="accordion-header">RULE</div>
  <div class="accordion-content">
     <div class="card border-success mb-3">
    <div class="float-right"> 

    <div class="card-body">
     <!-- <div class="card-body  align-items-center d-flex justify-content-center">-->
      <h3 class="card-title">RULE</h3>
      <!--
      <div class="iframe-container-long">
          <iframe src="systemdomain" allowfullscreen></iframe>
        </div>-->
      <!--<iframe src="/systemdomain" frameborder="0" scrolling="auto" width="1200"" height="910"></iframe> -->
      <div class="float-right" style="width:100%"> 
      

        <div class="panel panel-default">
        <div class="panel-body">
           
      
               <div class="panel-footer">

             <!--Table-->
                        <table id="tablerule" class="table table-hover table-striped table-sm table-bordered">
                        <!--Table head-->
                       <thead>
                            <tr>
                                <th>RULE ID</th>
                                <th>SERVICE ID</th>
                                <th>SERVICE NAME</th> 
                                <th>RULE ORDER</th>
                                 
                          </tr>
                        </thead>
                          <tbody></tbody>
                        <!--Table body-->
                        </table>
                        <!--Table-->
        </div>


        </div>
       
      
  </div>
      
    </div>
    </div>
  </div>
  </div>
</div>



   <div class="accordion-header">RULE CONDITION</div>
  <div class="accordion-content">
     <div class="card border-success mb-3">
    <div class="float-right"> 

    <div class="card-body">
     <!-- <div class="card-body  align-items-center d-flex justify-content-center">-->
      <h3 class="card-title">RULE CONDITION</h3>
      <!--
      <div class="iframe-container-long">
          <iframe src="systemdomain" allowfullscreen></iframe>
        </div>-->
      <!--<iframe src="/systemdomain" frameborder="0" scrolling="auto" width="1200"" height="910"></iframe> -->
      <div class="float-right" style="width:100%"> 
      

        <div class="panel panel-default">
        <div class="panel-body">
           
      
               <div class="panel-footer">

             <!--Table-->
                       <table id="tablerulecond" class="table table-hover table-striped table-sm table-bordered">
                        <!--Table head-->
                       <thead>
                            <tr>
                                <th>RULE CONDITION ID</th>
                                <th>RULE ID</th>
                                <th>RULE CONDITION ORDER</th> 
                                <th>FIELD OPERATION</th>
                                <th>FIELD NAME</th>
                                <th>FIELD VALUE</th>
                                 
                          </tr>
                        </thead>
                          <tbody></tbody>
                        <!--Table body-->
                        </table>
                        <!--Table-->
        </div>


        </div>
       
      
  </div>
      
    </div>
    </div>
  </div>
  </div>
</div>



 <div class="accordion-header">RULE DESTINATION</div>
  <div class="accordion-content">
     <div class="card border-success mb-3">
    <div class="float-right"> 

    <div class="card-body">
     <!-- <div class="card-body  align-items-center d-flex justify-content-center">-->
      <h3 class="card-title">RULE DESTINATION</h3>
      <!--
      <div class="iframe-container-long">
          <iframe src="systemdomain" allowfullscreen></iframe>
        </div>-->
      <!--<iframe src="/systemdomain" frameborder="0" scrolling="auto" width="1200"" height="910"></iframe> -->
      <div class="float-right" style="width:100%"> 
      

        <div class="panel panel-default">
        <div class="panel-body">
           
      
               <div class="panel-footer">

             <!--Table-->
                      <table id="tableruledest" class="table table-hover table-striped table-sm table-bordered">
                        <!--Table head-->
                       <thead>
                            <tr>
                                <th>RULE DESTINATION ID</th>
                                <th>RULE ID</th>
                                <th>SERVICE ID</th> 
                                 
                          </tr>
                        </thead>
                          <tbody></tbody>
                        <!--Table body-->
                        </table>
                        <!--Table-->
        </div>


        </div>
       
      
  </div>
      
    </div>
    </div>
  </div>
  </div>
</div>

<div class="accordion-header">SERVICE DESTINATION</div>
  <div class="accordion-content">
     <div class="card border-success mb-3">
    <div class="float-right"> 

    <div class="card-body">
     <!-- <div class="card-body  align-items-center d-flex justify-content-center">-->
      <h3 class="card-title">SERVICE DESTINATION</h3>
      <!--
      <div class="iframe-container-long">
          <iframe src="systemdomain" allowfullscreen></iframe>
        </div>-->
      <!--<iframe src="/systemdomain" frameborder="0" scrolling="auto" width="1200"" height="910"></iframe> -->
      <div class="float-right" style="width:100%"> 
      

        <div class="panel panel-default">
        <div class="panel-body">
           
      
               <div class="panel-footer">

             <!--Table-->
                      <table id="tableservicedestination" class="table table-hover table-striped table-sm table-bordered" >
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>SD ID</th>
                                <th>URI</th>
                                <th>NAME</th>
                                <th>ENABLED</th>
                                 
                          </tr>
                        </thead>
                          <tbody></tbody>
                       
                     
                        <tfoot>
                            <tr>
                                <th>SD ID</th>
                                <th>URI</th>
                                <th>NAME</th>
                                <th>ENABLED</th>
                          </tr>
                            

                        </tfoot>
                 

                       
                          
                          

                        </table>
                        <!--Table-->
        </div>


        </div>
       
      
  </div>
      
    </div>
    </div>
  </div>
  </div>
</div>



</div>
<!--Accordion Ends above-->









 






  
</body>
</html>